---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: screego
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      screego:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/screego/server
              tag: 1.12.0
            env:
              TZ: Europe/Warsaw
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 2Gi
    service:
      app:
        ports:
          http:
            port: 5050
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            group: self-hosted
        hostnames: ["{{ .Release.Name }}.vzkn.eu"]
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      config:
        type: secret
        name: screego-secret
        globalMounts:
          - path: /etc/screego/server.config
            subPath: server.config
            readOnly: true
