---
# yaml-language-server: $schema=https://schemas.vzkn.eu/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app screego
spec:
  components:
    - ../../../components/ext-auth
  dependsOn:
    - name: authentik
      namespace: security
    - name: external-secrets-store
      namespace: external-secrets
  interval: 1h
  path: ./kubernetes/apps/self-hosted/screego
  postBuild:
    substitute:
      APP: *app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: self-hosted
  wait: false
