---
# yaml-language-server: $schema=https://schemas.vzkn.eu/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name pgadmin-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: *name
    template:
      data:
        PGADMIN_DEFAULT_EMAIL: "{{ .PGADMIN_DEFAULT_EMAIL }}"
        PGADMIN_DEFAULT_PASSWORD: "{{ .PGADMIN_DEFAULT_PASSWORD }}"
        config_local.py: |
          AUTHENTICATION_SOURCES = ['oauth2', 'internal']
          OAUTH2_AUTO_CREATE_USER = True
          MASTER_PASSWORD_REQUIRED = False
          OAUTH2_CONFIG = [{
              'OAUTH2_NAME': 'authentik',
              'OAUTH2_DISPLAY_NAME': 'Login with Authentik',
              'OAUTH2_CLIENT_ID': '{{ .PGADMIN_CLIENT_ID }}',
              'OAUTH2_CLIENT_SECRET': '{{ .PGADMIN_CLIENT_SECRET }}',
              'OAUTH2_TOKEN_URL': 'https://sso.vzkn.eu/application/o/token/',
              'OAUTH2_AUTHORIZATION_URL': 'https://sso.vzkn.eu/application/o/authorize/',
              'OAUTH2_API_BASE_URL': 'https://sso.vzkn.eu/',
              'OAUTH2_USERINFO_ENDPOINT': 'https://sso.vzkn.eu/application/o/userinfo/',
              'OAUTH2_SERVER_METADATA_URL': 'https://sso.vzkn.eu/application/o/pgadmin/.well-known/openid-configuration',
              'OAUTH2_SCOPE': 'openid email profile',
              'OAUTH2_ICON': 'fa-openid',
              'OAUTH2_BUTTON_COLOR': '#fd4b2d'
          }]
        pgpass: |
          *:*:*:{{ .POSTGRES_SUPER_USER }}:{{ .POSTGRES_SUPER_PASS }}
        servers.json: |
          {
            "Servers": {
              "1": {
                "Name": "forgejo",
                "Group": "development",
                "Host": "postgres-forgejo-rw.development.svc.cluster.local",
                "Port": 5432,
                "MaintenanceDB": "postgres",
                "Username": "{{ .POSTGRES_SUPER_USER }}",
                "Shared": true,
                "SSLMode": "prefer",
                "PassFile": ".pgpass"
              },
              "10": {
                "Name": "bazarr",
                "Group": "downloads",
                "Host": "postgres-bazarr-rw.downloads.svc.cluster.local",
                "Port": 5432,
                "MaintenanceDB": "postgres",
                "Username": "{{ .POSTGRES_SUPER_USER }}",
                "Shared": true,
                "SSLMode": "prefer",
                "PassFile": ".pgpass"
              },
              "11": {
                "Name": "prowlarr",
                "Group": "downloads",
                "Host": "postgres-prowlarr-rw.downloads.svc.cluster.local",
                "Port": 5432,
                "MaintenanceDB": "postgres",
                "Username": "{{ .POSTGRES_SUPER_USER }}",
                "Shared": true,
                "SSLMode": "prefer",
                "PassFile": ".pgpass"
              },
              "12": {
                "Name": "radarr",
                "Group": "downloads",
                "Host": "postgres-radarr-rw.downloads.svc.cluster.local",
                "Port": 5432,
                "MaintenanceDB": "postgres",
                "Username": "{{ .POSTGRES_SUPER_USER }}",
                "Shared": true,
                "SSLMode": "prefer",
                "PassFile": ".pgpass"
              },
              "13": {
                "Name": "sonarr",
                "Group": "downloads",
                "Host": "postgres-sonarr-rw.downloads.svc.cluster.local",
                "Port": 5432,
                "MaintenanceDB": "postgres",
                "Username": "{{ .POSTGRES_SUPER_USER }}",
                "Shared": true,
                "SSLMode": "prefer",
                "PassFile": ".pgpass"
              },
              "20": {
                "Name": "jellystat",
                "Group": "media",
                "Host": "postgres-jellystat-rw.media.svc.cluster.local",
                "Port": 5432,
                "MaintenanceDB": "postgres",
                "Username": "{{ .POSTGRES_SUPER_USER }}",
                "Shared": true,
                "SSLMode": "prefer",
                "PassFile": ".pgpass"
              },
              "21": {
                "Name": "seerr",
                "Group": "media",
                "Host": "postgres-seerr-rw.media.svc.cluster.local",
                "Port": 5432,
                "MaintenanceDB": "postgres",
                "Username": "{{ .POSTGRES_SUPER_USER }}",
                "Shared": true,
                "SSLMode": "prefer",
                "PassFile": ".pgpass"
              },
              "30": {
                "Name": "authentik",
                "Group": "security",
                "Host": "postgres-authentik-rw.security.svc.cluster.local",
                "Port": 5432,
                "MaintenanceDB": "postgres",
                "Username": "{{ .POSTGRES_SUPER_USER }}",
                "Shared": true,
                "SSLMode": "prefer",
                "PassFile": ".pgpass"
              },
              "40": {
                "Name": "nextcloud",
                "Group": "self-hosted",
                "Host": "postgres-nextcloud-rw.self-hosted.svc.cluster.local",
                "Port": 5432,
                "MaintenanceDB": "postgres",
                "Username": "{{ .POSTGRES_SUPER_USER }}",
                "Shared": true,
                "SSLMode": "prefer",
                "PassFile": ".pgpass"
              },
              "41": {
                "Name": "rxresume",
                "Group": "self-hosted",
                "Host": "postgres-rxresume-rw.self-hosted.svc.cluster.local",
                "Port": 5432,
                "MaintenanceDB": "postgres",
                "Username": "{{ .POSTGRES_SUPER_USER }}",
                "Shared": true,
                "SSLMode": "prefer",
                "PassFile": ".pgpass"
              }
            }
          }
  dataFrom:
    - extract:
        key: pgadmin
    - extract:
        key: cloudnative-pg
