---
# yaml-language-server: $schema=https://schemas.vzkn.eu/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app pgadmin
spec:
  components:
    - ../../../components/volsync
  dependsOn:
    - name: cloudnative-pg
      namespace: database
    - name: external-secrets-store
      namespace: external-secrets
    - name: rook-ceph-cluster
      namespace: rook-ceph
  interval: 1h
  path: ./kubernetes/apps/database/pgadmin
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_UID: "5050"
      VOLSYNC_GID: "5050"
      VOLSYNC_CAPACITY: 1Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: database
  wait: false
