---
# yaml-language-server: $schema=https://schemas.vzkn.eu/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: crunchy-postgres-pgadmin
spec:
  # components:
  #   - ../../../components/volsync
  dependsOn:
    - name: crunchy-postgres-operator
      namespace: database
    # - name: volsync
    #   namespace: storage
  interval: 1h
  path: ./kubernetes/apps/database/pgadmin
  # postBuild:
  #   substitute:
  #     APP: *app
  #     VOLSYNC_UID: "5050"
  #     VOLSYNC_GID: "5050"
  #     VOLSYNC_CAPACITY: 500Mi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
