---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name terraform-backend-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: *name
    template:
      data:
        access_key: "{{ .TERRAFORM_STATE_KEY_ID }}"
        secret_key: "{{ .TERRAFORM_STATE_SECRET_KEY }}"
  dataFrom:
    - extract:
        key: garage
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name terraform-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: *name
    template:
      data:
        bw_access_token: "{{ .BW_TOKEN }}"
  dataFrom:
    - extract:
        key: bws
