---
# yaml-language-server: $schema=https://schemas.vzkn.eu/monitoring.coreos.com/probe_v1.json
apiVersion: monitoring.coreos.com/v1
kind: Probe
metadata:
  name: devices
spec:
  module: icmp
  prober:
    url: blackbox-exporter.observability.svc.cluster.local:9115
  targets:
    staticConfig:
      static:
        ## Network Stack
        - router.home.vzkn.eu
        - switch.home.vzkn.eu
        ## Main Stack
        - aincrad.home.vzkn.eu
        # - alfheim.home.vzkn.eu
        # - alne.home.vzkn.eu
        # - ainias.home.vzkn.eu
        ## Other
        - pi.home.vzkn.eu
        - slzb.home.vzkn.eu
---
# yaml-language-server: $schema=https://schemas.vzkn.eu/monitoring.coreos.com/probe_v1.json
apiVersion: monitoring.coreos.com/v1
kind: Probe
metadata:
  name: nfs
spec:
  module: tcp_connect
  prober:
    url: blackbox-exporter.observability.svc.cluster.local:9115
  targets:
    staticConfig:
      static:
        - aincrad.home.vzkn.eu:2049
