---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app home-assistant
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      home-assistant:
        replicas: 1
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/home-assistant
              tag: 2026.1.3@sha256:9f094e0531e5784d1df9bcb817d95830d1da9d4a03c914f8fd1b3cc6168c4e65
            env:
              TZ: Europe/Warsaw
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 8123
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 130m
                memory: 640Mi
              limits:
                memory: 1280Mi
          codeserver:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.108.1@sha256:867b9a9dedd68f1b46e308cad9525e419db7b0ce0c83831f6a350f37ee7ff6fd
            args:
              - "--auth"
              - "none"
              - "--user-data-dir"
              - "/config/.vscode"
              - "--extensions-dir"
              - "/config/.vscode"
              - "--port"
              - "12321"
              - "/config"
            env:
              TZ: Europe/Warsaw
            probes:
              liveness: &codeserver-probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &codeserverPort 12321
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *codeserver-probes
            securityContext:
              allowPrivilegeEscalation: true
              readOnlyRootFilesystem: false
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 30m
                memory: 192Mi
              limits:
                memory: 384Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault
    service:
      app:
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: 10.10.0.43
        ports:
          http:
            appProtocol: kubernetes.io/ws
            port: *port
          codeserver:
            port: *codeserverPort
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            group: home-automation
            conditions: ["[STATUS] == 200"]
        hostnames:
          - "{{ .Release.Name }}.vzkn.eu"
          - hass.vzkn.eu
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: *port
      codeserver:
        annotations:
          gatus.home-operations.com/endpoint: |-
            group: home-automation
        hostnames:
          - hass-code.vzkn.eu
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: *codeserverPort
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /config
      config-cache:
        existingClaim: "{{ .Release.Name }}-cache"
        globalMounts:
          - path: /config/.venv
      tmpfs:
        type: emptyDir
        advancedMounts:
          home-assistant:
            app:
              - path: /config/logs
                subPath: logs
              - path: /config/tts
                subPath: tts
              - path: /tmp
                subPath: tmp
