---
# yaml-language-server: $schema=https://schemas.vzkn.eu/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app home-assistant
spec:
  components:
    - ../../../components/volsync
  dependsOn:
    - name: external-secrets-store
      namespace: external-secrets
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: mosquitto
      namespace: database
  interval: 1h
  path: ./kubernetes/apps/home-automation/home-assistant
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 5Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: home-automation
  wait: false
