{% for namespace in ["external-secrets", "flux-system", "network", "security"] %}
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/master/namespace-v1.json
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
{% endfor %}
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/master/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
  name: infisical-credentials
  namespace: security
stringData:
  clientId: {{ ENV['INFISICAL_CLIENT_ID'] }}
  clientSecret: {{ ENV['INFISICAL_CLIENT_SECRET'] }}
