# Brew
/.private/
/.task/
/.venv/
Brewfile.lock.json
# Kubernetes
kubeconfig
.decrypted~*
*.secret.env
*.secret.yaml
*.agekey
*.crt
*.iso
*.key
*.pem
*.pub
# Other
*.psql
node_modules/
# Claude Code
.claude/
CLAUDE.md
# One-time migration jobs
**/migration-job.yaml
# Private
.private
.bin
#Talos
talosconfig
**/clusterconfig
# Terraform
.terraform
.terraform.tfstate*
.terraform.lock.hcl
terraform.tfstate*
*.tfvars
# Trash
.DS_Store
Thumbs.db
#Teehee
*-STEAL*
secrets.yaml
*.db
