---
# yaml-language-server: $schema=https://schemas.vzkn.eu/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: csi-driver-nfs
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 4.13.0
  url: oci://ghcr.io/home-operations/charts-mirror/csi-driver-nfs
---
# yaml-language-server: $schema=https://schemas.vzkn.eu/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: csi-driver-nfs
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: csi-driver-nfs
  values:
    controller:
      resources:
        requests:
          cpu: 10m
          memory: 96Mi
        limits:
          memory: 192Mi
      provisioner:
        resources:
          requests:
            cpu: 10m
            memory: 96Mi
          limits:
            memory: 192Mi
      resizer:
        resources:
          requests:
            cpu: 10m
            memory: 96Mi
          limits:
            memory: 192Mi
      snapshotter:
        resources:
          requests:
            cpu: 10m
            memory: 96Mi
          limits:
            memory: 192Mi
      livenessProbe:
        resources:
          requests:
            cpu: 10m
            memory: 96Mi
          limits:
            memory: 192Mi
    node:
      resources:
        requests:
          cpu: 10m
          memory: 96Mi
        limits:
          memory: 192Mi
      livenessProbe:
        resources:
          requests:
            cpu: 10m
            memory: 96Mi
          limits:
            memory: 192Mi
      nodeDriverRegistrar:
        resources:
          requests:
            cpu: 10m
            memory: 96Mi
          limits:
            memory: 192Mi
