---
# yaml-language-server: $schema=https://schemas.vzkn.eu/keda.sh/scaledobject_v1alpha1.json
apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: zigbee
spec:
  advanced:
    restoreToOriginalReplicaCount: true
  cooldownPeriod: 0
  initialCooldownPeriod: 60
  minReplicaCount: 0
  maxReplicaCount: 1
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: zigbee
  triggers:
    - type: prometheus
      metadata:
        serverAddress: http://prometheus-operated.observability.svc.cluster.local:9090
        query: max_over_time(probe_success{instance=~"slzb.+"}[1m])
        threshold: "1"
        ignoreNullValues: "0"
