---
# yaml-language-server: $schema=https://schemas.vzkn.eu/source.toolkit.fluxcd.io/helmrepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: strimzi
spec:
  interval: 1h
  url: https://strimzi.io/charts/
---
# yaml-language-server: $schema=https://schemas.vzkn.eu/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kafka-operator
spec:
  interval: 1h
  chart:
    spec:
      chart: strimzi-kafka-operator
      version: 0.49.1
      sourceRef:
        kind: HelmRepository
        name: strimzi
  values:
    fullReconciliationIntervalMs: 120000
    operationTimeoutMs: 300000
    watchAnyNamespace: true
    resources:
      requests:
        cpu: 200m
        memory: 384Mi
      limits:
        memory: 512Mi
    livenessProbe:
      initialDelaySeconds: 10
      periodSeconds: 30
    readinessProbe:
      initialDelaySeconds: 10
      periodSeconds: 30
    dashboards:
      enabled: true
