---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyseerr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      jellyseerr:
        replicas: 1
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/fallenbagel/jellyseerr
              tag: 2.7.3@sha256:9cc9e9ee6cd5cf5a23feb45c37742ba34cfd6314d81d259cddb373a97ac92cdd
            env:
              TZ: Europe/Warsaw
              LOG_LEVEL: "info"
              PORT: &port 80
              JELLYFIN_TYPE: emby
              DB_TYPE: "postgres"
              DB_HOST:
                valueFrom:
                  secretKeyRef:
                    name: &pg jellyseerr-pguser-jellyseerr
                    key: pgbouncer-host
              DB_PORT:
                valueFrom:
                  secretKeyRef:
                    name: *pg
                    key: pgbouncer-port
              DB_USER:
                valueFrom:
                  secretKeyRef:
                    name: *pg
                    key: user
              DB_PASS:
                valueFrom:
                  secretKeyRef:
                    name: *pg
                    key: password
              DB_NAME:
                valueFrom:
                  secretKeyRef:
                    name: *pg
                    key: dbname
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v1/status
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 40m
                memory: 1Gi
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
#    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            group: media
            conditions: ["[STATUS] == 200"]
        hostnames:
          - "{{ .Release.Name }}.vzkn.eu"
          - requests.vzkn.eu
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /app/config
      config-cache:
        existingClaim: "{{ .Release.Name }}-cache"
        globalMounts:
          - path: /app/config/cache
      tmpfs:
        type: emptyDir
        advancedMounts:
          jellyseerr:
            app:
              - path: /config/logs
                subPath: logs
              - path: /tmp
                subPath: tmp
