---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellystat
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      jellystat:
        replicas: 1
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/cyfershepard/jellystat
              tag: unstable@sha256:a9ce08fafc522158f33aee3488fc05ad0ec27b99f2ed8bd1fb781cbc54b62513
            env:
              TZ: "Europe/Warsaw"
              MINIMUM_SECONDS_TO_INCLUDE_PLAYBACK: "30"
              IS_EMBY_API: "true"
              POSTGRES_IP: pooler-jellystat-rw
              POSTGRES_PORT: "5432"
              POSTGRES_DB:
                valueFrom:
                  secretKeyRef:
                    name: &pg postgres-jellystat-app
                    key: dbname
              POSTGRES_USER:
                valueFrom:
                  secretKeyRef:
                    name: *pg
                    key: username
              POSTGRES_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: *pg
                    key: password
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 3000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 20m
                memory: 352Mi
              limits:
                memory: 704Mi
    service:
      app:
        ports:
          http:
            port: 3000
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            group: media
        hostnames:
          - "{{ .Release.Name }}.vzkn.eu"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      backup:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /app/backend/backup-data
