---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellystat
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      jellystat:
        replicas: 1
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/cyfershepard/jellystat
              tag: unstable@sha256:668ac24b27125ebc444f26eb09d0b54319fe65a68b6dcaf32f3ba048fb6313b3
            env:
              TZ: "Europe/Warsaw"
              MINIMUM_SECONDS_TO_INCLUDE_PLAYBACK: "30"
              IS_EMBY_API: "true"
              POSTGRES_IP:
                valueFrom:
                  secretKeyRef:
                    name: &pg jellystat-pguser-jellystat
                    key: pgbouncer-host
              POSTGRES_PORT:
                valueFrom:
                  secretKeyRef:
                    name: *pg
                    key: pgbouncer-port
              POSTGRES_DB:
                valueFrom:
                  secretKeyRef:
                    name: *pg
                    key: dbname
              POSTGRES_USER:
                valueFrom:
                  secretKeyRef:
                    name: *pg
                    key: user
              POSTGRES_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: *pg
                    key: password
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 3000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 2Gi
    service:
      app:
        ports:
          http:
            port: 3000
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            group: media
        hostnames: ["{{ .Release.Name }}.vzkn.eu"]
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      backup:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /app/backend/backup-data
