---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app i40e-tune
spec:
  interval: 5m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      i40e-tune:
        type: daemonset
        pod:
          automountServiceAccountToken: false
          enableServiceLinks: false
          hostNetwork: true
          hostPID: true
          nodeSelector:
            feature.node.kubernetes.io/custom-i40e: "true"
        containers:
          app:
            image:
              repository: ghcr.io/nicolaka/netshoot
              tag: v0.13@sha256:a20c2531bf35436ed3766cd6cfe89d352b050ccc4d7005ce6400adf97503da1b
            command: ["/bin/bash", "-c"]
            args:
              - |
                for iface in $(find /sys/class/net/*/device/driver/module/drivers -maxdepth 1 -path "*i40e*" | awk -F'/' '{print $5}'); do
                  echo "=== Tuning ${iface} (i40e) ==="
                  echo 'Current ring buffer settings:'
                  echo '==========================='
                  ethtool -g "${iface}" || echo 'Error reading ring parameters'
                  echo '==========================='
                  echo "Configuring ${iface} with rx 8160 tx 8160..."
                  ethtool -G "${iface}" rx 8160 tx 8160 || echo 'Error setting ring parameters'
                  echo 'New ring buffer settings:'
                  echo '==========================='
                  ethtool -g "${iface}" || echo 'Error reading ring parameters'
                  echo '==========================='
                done
                sleep infinity
            securityContext:
              privileged: true
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 10Mi
    persistence:
      procfs:
        type: hostPath
        hostPath: /proc
        hostPathType: Directory
        globalMounts:
          - path: /host/proc
            readOnly: true
      netfs:
        type: hostPath
        hostPath: /sys
        hostPathType: Directory
        globalMounts:
          - path: /host/net
            readOnly: true
