---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app checkers
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      checkers:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: forgejo.vzkn.eu/ahe-computer-science-s5/oop2-checkers-stage-4
              tag: 2026.1.4@sha256:1ced93c878fd074ee4a8fbbcf78c1731851f484cbd189e60a5f73a61bbd511b6
            env:
              TZ: "Europe/Warsaw"
              BASE_URL: "https://checkers.vzkn.eu"
              PYTHONUNBUFFERED: "1"
              PERSISTENCE_DIR: "/app/data"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/health
                    port: &port 8000
                  initialDelaySeconds: 10
                  periodSeconds: 30
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 5
                  timeoutSeconds: 3
                  failureThreshold: 30
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            group: education
          # Gateway API timeout for WebSocket connections
          gateway.envoyproxy.io/timeout: "300s"
        hostnames: ["checkers.vzkn.eu"]
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          checkers:
            app:
              - path: /app/data
