---
# yaml-language-server: $schema=https://schemas.vzkn.eu/kubernetes/configmap_v1.json
apiVersion: v1
kind: ConfigMap
metadata:
  name: kafka-metrics
data:
  kafka-metrics-config.yml: |
    # Strimzi Kafka JMX Exporter configuration
    lowercaseOutputName: true
    lowercaseOutputLabelNames: true
    rules:
      # Kafka broker metrics
      - pattern: kafka.server<type=(.+), name=(.+), clientId=(.+), topic=(.+), partition=(.*)><>Value
        name: kafka_server_$1_$2
        type: GAUGE
        labels:
          clientId: "$3"
          topic: "$4"
          partition: "$5"
      - pattern: kafka.server<type=(.+), name=(.+), clientId=(.+), brokerHost=(.+), brokerPort=(.+)><>Value
        name: kafka_server_$1_$2
        type: GAUGE
        labels:
          clientId: "$3"
          broker: "$4:$5"
      - pattern: kafka.server<type=(.+), cipher=(.+), protocol=(.+), listener=(.+), networkProcessor=(.+)><>connections
        name: kafka_server_$1_connections_tls_info
        type: GAUGE
        labels:
          cipher: "$2"
          protocol: "$3"
          listener: "$4"
          networkProcessor: "$5"
      - pattern: kafka.server<type=(.+), clientSoftwareName=(.+), clientSoftwareVersion=(.+), listener=(.+), networkProcessor=(.+)><>connections
        name: kafka_server_$1_connections_software
        type: GAUGE
        labels:
          clientSoftwareName: "$2"
          clientSoftwareVersion: "$3"
          listener: "$4"
          networkProcessor: "$5"
      - pattern: kafka.server<type=(.+), listener=(.+), networkProcessor=(.+)><>(.+):
        name: kafka_server_$1_$4
        type: GAUGE
        labels:
          listener: "$2"
          networkProcessor: "$3"
      - pattern: kafka.server<type=(.+), listener=(.+), networkProcessor=(.+)><>(.+)
        name: kafka_server_$1_$4
        type: GAUGE
        labels:
          listener: "$2"
          networkProcessor: "$3"
      - pattern: kafka.server<type=ReplicaManager, name=(.+)><>(Value|OneMinuteRate)
        name: kafka_server_replicamanager_$1
        type: GAUGE
      - pattern: kafka.server<type=BrokerTopicMetrics, name=(.+), topic=(.+)><>OneMinuteRate
        name: kafka_server_brokertopicmetrics_$1
        type: GAUGE
        labels:
          topic: "$2"
      - pattern: kafka.server<type=BrokerTopicMetrics, name=(.+)><>OneMinuteRate
        name: kafka_server_brokertopicmetrics_$1
        type: GAUGE
      - pattern: kafka.server<type=KafkaRequestHandlerPool, name=(.+)><>(.+)
        name: kafka_server_kafkarequesthandlerpool_$1_$2
        type: GAUGE
      - pattern: kafka.server<type=SessionExpireListener, name=(.+)><>OneMinuteRate
        name: kafka_server_sessionexpirelistener_$1
        type: GAUGE
      - pattern: kafka.server<type=DelayedOperationPurgatory, name=(.+), delayedOperation=(.+)><>Value
        name: kafka_server_delayedoperationpurgatory_$1
        type: GAUGE
        labels:
          delayedOperation: "$2"
      - pattern: kafka.server<type=socket-server-metrics, clientSoftwareName=(.+), clientSoftwareVersion=(.+), listener=(.+), networkProcessor=(.+)><>(.+):
        name: kafka_server_socketservermetrics_$5
        type: GAUGE
        labels:
          clientSoftwareName: "$1"
          clientSoftwareVersion: "$2"
          listener: "$3"
          networkProcessor: "$4"
      - pattern: kafka.server<type=(.+)><>(.+):
        name: kafka_server_$1_$2
        type: GAUGE
      - pattern: kafka.server<type=(.+)><>(.+)
        name: kafka_server_$1_$2
        type: GAUGE
      # Kafka network metrics
      - pattern: kafka.network<type=(.+), name=(.+), request=(.+), error=(.+)><>Count
        name: kafka_network_$1_$2_errors_total
        type: COUNTER
        labels:
          request: "$3"
          error: "$4"
      - pattern: kafka.network<type=(.+), name=(.+), request=(.+), version=(.+)><>(Count|OneMinuteRate|Mean)
        name: kafka_network_$1_$2
        type: GAUGE
        labels:
          request: "$3"
          version: "$4"
      - pattern: kafka.network<type=(.+), name=(.+), request=(.+)><>(.+)
        name: kafka_network_$1_$2
        type: GAUGE
        labels:
          request: "$3"
      - pattern: kafka.network<type=(.+), name=(.+)><>(.+)
        name: kafka_network_$1_$2
        type: GAUGE
      # Kafka controller metrics
      - pattern: kafka.controller<type=(.+), name=(.+)><>(Value|OneMinuteRate)
        name: kafka_controller_$1_$2
        type: GAUGE
      - pattern: kafka.controller<type=(.+), name=(.+), state=(.+)><>Value
        name: kafka_controller_$1_$2
        type: GAUGE
        labels:
          state: "$3"
      # Kafka log metrics
      - pattern: kafka.log<type=LogFlushStats, name=(.+)><>(.+)
        name: kafka_log_logflushstats_$1
        type: GAUGE
      - pattern: kafka.log<type=Log, name=(.+), topic=(.+), partition=(.+)><>Value
        name: kafka_log_$1
        type: GAUGE
        labels:
          topic: "$2"
          partition: "$3"
      # JVM metrics
      - pattern: java.lang<type=Memory><HeapMemoryUsage>(\w+)
        name: java_lang_memory_heapmemoryusage_$1
        type: GAUGE
      - pattern: java.lang<type=Memory><NonHeapMemoryUsage>(\w+)
        name: java_lang_memory_nonheapmemoryusage_$1
        type: GAUGE
      - pattern: java.lang<type=GarbageCollector, name=(.+)><>CollectionCount
        name: java_lang_garbagecollector_collectioncount
        type: COUNTER
        labels:
          name: "$1"
      - pattern: java.lang<type=GarbageCollector, name=(.+)><>CollectionTime
        name: java_lang_garbagecollector_collectiontime
        type: COUNTER
        labels:
          name: "$1"
      - pattern: java.lang<type=Threading><>(\w+)
        name: java_lang_threading_$1
        type: GAUGE
      - pattern: java.lang<type=OperatingSystem><>(\w+)
        name: java_lang_operatingsystem_$1
        type: GAUGE
