---
# yaml-language-server: $schema=https://schemas.vzkn.eu/kafka.strimzi.io/kafkanodepool_v1beta2.json
apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaNodePool
metadata:
  name: sentry-pool
  labels:
    strimzi.io/cluster: sentry-kafka
spec:
  replicas: 1
  roles:
    - controller
    - broker
  storage:
    type: persistent-claim
    size: 20Gi
    class: ceph-block
    deleteClaim: false
  resources:
    requests:
      cpu: 200m
      memory: 1Gi
    limits:
      memory: 4Gi
---
# yaml-language-server: $schema=https://schemas.vzkn.eu/kafka.strimzi.io/kafka_v1beta2.json
apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  name: sentry-kafka
  annotations:
    strimzi.io/kraft: enabled
    strimzi.io/node-pools: enabled
spec:
  kafka:
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
    config:
      offsets.topic.replication.factor: 1
      transaction.state.log.replication.factor: 1
      transaction.state.log.min.isr: 1
      default.replication.factor: 1
      min.insync.replicas: 1
      auto.create.topics.enable: false
      compression.type: lz4
      log.retention.hours: 24
    metricsConfig:
      type: jmxPrometheusExporter
      valueFrom:
        configMapKeyRef:
          name: kafka-metrics
          key: kafka-metrics-config.yml
  kafkaExporter:
    topicRegex: ".*"
    groupRegex: ".*"
    resources:
      requests:
        cpu: 10m
        memory: 64Mi
      limits:
        memory: 128Mi
  entityOperator:
    topicOperator:
      resources:
        requests:
          cpu: 10m
          memory: 128Mi
        limits:
          memory: 256Mi
