---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mumble
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      mumble:
        replicas: 1
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/mumble-voip/mumble-server
              tag: v1.5.857@sha256:aaaed4d5ed2ad599f213a46a32c7476c8c2623f3a9c51b692ccd6bba9df76a44
            env:
              TZ: Europe/Warsaw
              MUMBLE_CONFIG_WELCOMETEXT: "Welcome to Mumble!"
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              startup:
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: &port 64738
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 30
              liveness:
                enabled: false
              readiness:
                enabled: false
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        type: LoadBalancer
        externalTrafficPolicy: Local
        annotations:
          lbipam.cilium.io/ips: 10.10.0.50
          external-dns.alpha.kubernetes.io/hostname: mumble.vzkn.eu
          gatus.home-operations.com/endpoint: |-
            group: self-hosted
        ports:
          control:
            port: *port
            protocol: TCP
          voice:
            port: *port
            protocol: UDP
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /data
