# yaml-language-server: $schema=https://schemas.vzkn.eu/source.toolkit.fluxcd.io/helmrepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: mattermost
spec:
  interval: 1h
  url: https://helm.mattermost.com
---
# yaml-language-server: $schema=https://schemas.vzkn.eu/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mattermost-operator
spec:
  interval: 10m
  chart:
    spec:
      chart: mattermost-operator
      version: 1.0.4
      sourceRef:
        kind: HelmRepository
        name: mattermost
