---
# yaml-language-server: $schema=https://schemas.vzkn.eu/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: plugin-barman-cloud
spec:
  interval: 1h
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.4.0
  url: oci://ghcr.io/cloudnative-pg/charts/plugin-barman-cloud
---
# yaml-language-server: $schema=https://schemas.vzkn.eu/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plugin-barman-cloud
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    certificate:
      # Renew 22 days before expiry (must be > 21d alert threshold)
      renewBefore: 528h
    resources:
      requests:
        cpu: 20m
        memory: 96Mi
