---
# yaml-language-server: $schema=https://schemas.vzkn.eu/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name open-webui-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: *name
    template:
      data:
        # Open-WebUI Config
        ADMIN_EMAIL: "{{ .ADMIN_EMAIL }}"
        ENABLE_ADMIN_CHAT_ACCESS: "true"
        ENABLE_ADMIN_EXPORT: "true"
        DEFAULT_USER_ROLE: "user"
        WEBUI_SECRET_KEY: "{{ .WEBUI_SECRET_KEY }}"
        # OAUTH
        ENABLE_LOGIN_FORM: "false"
        ENABLE_OAUTH_SIGNUP: "true"
        OAUTH_MERGE_ACCOUNTS_BY_EMAIL: "true"
        OAUTH_PROVIDER_NAME: Authentik
        OPENID_PROVIDER_URL: https://sso.vzkn.eu/application/o/open-webui/.well-known/openid-configuration
        OAUTH_SCOPES: openid email profile
        OPENID_REDIRECT_URI: https://chat.vzkn.eu/oauth/oidc/callback
        OAUTH_CLIENT_ID: "{{ .OPEN_WEBUI_CLIENT_ID }}"
        OAUTH_CLIENT_SECRET: "{{ .OPEN_WEBUI_CLIENT_SECRET }}"
        # OPENAI
        # ENABLE_OPENAI_API: "true"
        # OPENAI_API_KEY: "{{ .OPENAI_API_KEY }}"
        # QDRANT
        VECTOR_DB: qdrant
        QDRANT_URI: http://qdrant:6333
        QDRANT_API_KEY: "{{ .QDRANT_API_KEY }}"
  dataFrom:
    - extract:
        key: open-webui
    - extract:
        key: qdrant
