---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app factorio
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      factorio:
        replicas: 1
        type: statefulset
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: factoriotools/factorio
              tag: 2.0.72-rootless
            env:
              TZ: Europe/Warsaw
              GENERATE_NEW_SAVE: false
              LOAD_LATEST_SAVE: true
              PORT: &port 34197
              BIND: 0.0.0.0
              RCON_PORT: &rconPort 27015
              SAVE_NAME: factorio
              UPDATE_MODS_ON_START: true
              DLC_SPACE_AGE: false
              MODS: /factorio/mods
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            resources:
              requests:
                cpu: 1
                memory: 1Gi
              limits:
                cpu: 8
                memory: 8Gi
          filebrowser:
            image:
              repository: filebrowser/filebrowser
              tag: v2.42.1
            env:
              TZ: Europe/Warsaw
              FB_NOAUTH: true
              PUID: 1000
              PGID: 1000
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 512Mi
    service:
      app:
        type: LoadBalancer
        externalTrafficPolicy: Local
        annotations:
          lbipam.cilium.io/ips: 10.10.0.61
          external-dns.alpha.kubernetes.io/hostname: factorio.vzkn.eu
        ports:
          gametcp:
            port: *rconPort
          gameudp:
            port: *port
            protocol: UDP
          filebrowser:
            port: 80
    metrics:
      enabled: true
      serviceMonitor:
        interval: 3m
        scrapeTimeout: 1m
      prometheusRule:
        enabled: true
      exporter:
        env:
          port: 9794
          additionalMetrics: true
          unknownQueueItems: false
    route:
      filebrowser:
        hostnames: ["factorio-files.vzkn.eu"]
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: 80
    persistence:
      data:
        enabled: true
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          factorio:
            app:
              - path: /factorio
            filebrowser:
              - path: /db
                subPath: filebrowser
              - path: /srv/factorio
