---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: database
components:
  - ../../components/common
resources:
  - ./namespace.yaml
  - ./clickhouse/ks.yaml
  - ./cloudnative-pg/ks.yaml
  - ./dragonfly/ks.yaml
  - ./kafka/ks.yaml
  - ./mosquitto/ks.yaml
  - ./pgadmin/ks.yaml
