---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: clickhouse
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      clickhouse:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: clickhouse/clickhouse-server
              tag: 25.12.1-alpine@sha256:4876aaab383e2b1c3bf10ebbb127204e795d2e470f8c3af3eae09bd0ed664b5b
            env:
              CLICKHOUSE_HTTP_PORT: &httpPort 8123
              CLICKHOUSE_TCP_PORT: &tcpPort 9000
              CLICKHOUSE_LISTEN_HOST: 0.0.0.0
              CLICKHOUSE_LOGGER_CONSOLE: "true"
              CLICKHOUSE_DB: default
              CLICKHOUSE_USER: clickhouse
              CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1
            envFrom:
              - secretRef:
                  name: clickhouse-secret
            probes:
              liveness: &probe
                enabled: true
                type: TCP
                port: 8123
              readiness: *probe
              startup:
                <<: *probe
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                cpu: 500m
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 101
        runAsGroup: 101
        fsGroup: 101
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *httpPort
          tcp:
            port: *tcpPort
    serviceMonitor:
      app:
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 30s
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /var/lib/clickhouse
      tmpfs:
        type: emptyDir
        advancedMounts:
          clickhouse:
            app:
              - path: /tmp
                subPath: tmp
              - path: /var/log
                subPath: log
