---
# yaml-language-server: $schema=https://schemas.vzkn.eu/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: &name postgres-${APP}
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: 'enabled'
spec:
  bootstrap:
    recovery:
      source: source
      recoveryTarget:
        # Use backup from 5.11 (before repos were added) and replay all WALs
        backupID: backup-20251105000000
        targetTLI: "latest"
  externalClusters:
    - name: source
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: *name
          serverName: *name
