---
# yaml-language-server: $schema=https://schemas.vzkn.eu/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: &name postgres-${APP}
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: 'enabled'
spec:
  bootstrap:
    recovery:
      database: ${CNPG_DATABASE:=${APP}}
      owner: ${CNPG_USER:=${APP}}
      source: source
  externalClusters:
    - name: source
      plugin:
        name: barman-cloud.cloudnative-pg.io
        parameters:
          barmanObjectName: *name
          serverName: *name
