---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tdarr-node
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      tdarr-node:
        type: daemonset
        containers:
          node:
            image:
              repository: ghcr.io/haveagitgat/tdarr_node
              tag: 2.59.03@sha256:4fd38b1803f6d819e79d286812701591a8d96f8c3e92b596cd524ed5bf107291
            env:
              TZ: Europe/Warsaw
              serverIP: aincrad.home.vzkn.eu
              serverPort: 8266
              PUID: 1000
              PGID: 100
              nodeName:
                valueFrom:
                  fieldRef:
                    fieldPath: spec.nodeName
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 100m
                memory: 1Gi
              limits:
                cpu: 2000m
                memory: 12Gi
    defaultPodOptions:
      priorityClassName: cluster-low
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: tdarr-node-gpu
      securityContext:
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
      # Only on workers (they have GPUs)
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: node-role.kubernetes.io/control-plane
                    operator: DoesNotExist
    service:
      app:
        enabled: false
    persistence:
      media:
        type: nfs
        server: aincrad.home.vzkn.eu
        path: /mnt/user/data/media
        globalMounts:
          - path: /mnt/user/data/media
