---
# yaml-language-server: $schema=https://schemas.vzkn.eu/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app tdarr-node
spec:
  components:
    - ../../../components/gpu
  dependsOn:
    - name: priority-classes
      namespace: flux-system
  interval: 1h
  path: ./kubernetes/apps/downloads/tdarr-node
  postBuild:
    substitute:
      APP: *app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: downloads
  wait: false
