machine:
  type: controlplane
  network:
    hostname: alne
  disks:
    - device: /dev/disk/by-id/ata-MTFDDAK512MBF-1AN15ABHA_164614B4BE51
      partitions:
        - mountpoint: /var/openebs/local
  install:
    diskSelector:
      model: "MTFDDAK512MBF-1A"
  nodeLabels:
    topology.kubernetes.io/zone: m
    intel.feature.node.kubernetes.io/gpu: "true"
---
apiVersion: v1alpha1
kind: EthernetConfig
name: eno1
features: # tso off gso off gro off
    tx-tcp-segmentation: false      # TSO (IPv4)
    tx-tcp6-segmentation: false     # TSO (IPv6)
    tx-generic-segmentation: false  # GSO
    rx-gro: false                   # GRO
---
apiVersion: v1alpha1
kind: EthernetConfig
name: enp1s0f0np0
rings:
    rx: 4096
    tx: 4096
---
apiVersion: v1alpha1
kind: EthernetConfig
name: enp1s0f1np1
rings:
    rx: 4096
    tx: 4096
