---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home-automation
components:
  - ../../components/common
resources:
  - ./namespace.yaml
  # - ./bambu-studio/ks.yaml
  - ./home-assistant/ks.yaml
  - ./zigbee/ks.yaml
