---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home-automation
components:
  - ../../components/namespace
replacements:
  - path: ../../components/replacements/ks.yaml
resources: []
  # - ./bambu-studio/ks.yaml
  # - ./home-assistant/ks.yaml
  # - ./zigbee/ks.yaml
