---
# yaml-language-server: $schema=https://schemas.vzkn.eu/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app ferretdb
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      ferretdb:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/ferretdb/ferretdb
              tag: 2.7.0@sha256:5706414241eb84f0515512c37b46db0f1b1eac9e5ceb7e4c2523211c184b1985
            env:
              # FerretDB PostgreSQL connection
              - name: FERRETDB_POSTGRESQL_URL
                valueFrom:
                  secretKeyRef:
                    name: postgres-ferretdb-app
                    key: uri
              # FerretDB listens on MongoDB protocol
              - name: FERRETDB_LISTEN_ADDR
                value: :27017
              # Use PostgreSQL backend
              - name: FERRETDB_HANDLER
                value: pg
              # Telemetry
              - name: FERRETDB_TELEMETRY
                value: disable
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /debug/livez
                    port: &port 8088
                  initialDelaySeconds: 15
                  periodSeconds: 20
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /debug/readyz
                    port: *port
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 256Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        seccompProfile:
          type: RuntimeDefault
    service:
      app:
        controller: ferretdb
        ports:
          mongodb:
            port: 27017
            protocol: TCP
          metrics:
            port: *port
            protocol: TCP
    serviceMonitor:
      app:
        serviceName: *app
        endpoints:
          - port: metrics
            scheme: http
            path: /debug/metrics
            interval: 1m
            scrapeTimeout: 10s
