---
# yaml-language-server: $schema=https://schemas.vzkn.eu/monitoring.coreos.com/servicemonitor_v1.json
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  labels:
    app.kubernetes.io/component: metrics
    app.kubernetes.io/instance: servers
    app.kubernetes.io/name: nut-exporter
    prometheus: kube-prometheus
  name: nut-exporter-rack
spec:
  endpoints:
    - interval: 30s
      metricRelabelings:
        - action: replace
          replacement: rack
          sourceLabels:
            - instance
          targetLabel: instance
        - action: replace
          replacement: rack
          sourceLabels:
            - rack
          targetLabel: rack
        - action: labeldrop
          regex: (pod)
      params:
        rack:
          - pi.home.vzkn.eu
      path: /ups_metrics
      port: metrics
      scheme: http
      scrapeTimeout: 30s
  jobLabel: nut-exporter
  namespaceSelector:
    matchNames:
      - observability
  selector:
    matchLabels:
      app.kubernetes.io/instance: nut-exporter
      app.kubernetes.io/name: nut-exporter
