---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app rimworld
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      rimworld:
        replicas: 1
        type: statefulset
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/rimworld-together/rimworld-together
              tag: 25.12.19.1@sha256:1d0a3493da6b9c7cdf564af6adc8da5736e02d922b9119e00dad4acbe0abebfd
            env:
              TZ: Europe/Warsaw
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 1Gi
          filebrowser:
            image:
              repository: filebrowser/filebrowser
              tag: v2.42.1
            env:
              TZ: Europe/Warsaw
              FB_NOAUTH: true
              PUID: 0
              PGID: 0
            resources:
              requests:
                cpu: 10m
                memory: 32Mi
              limits:
                memory: 512Mi
    service:
      app:
        type: LoadBalancer
        externalTrafficPolicy: Local
        annotations:
          lbipam.cilium.io/ips: 10.10.0.62
          external-dns.alpha.kubernetes.io/hostname: rimworld.vzkn.eu
        ports:
          gameudp:
            port: 25555
            protocol: UDP
          filebrowser:
            port: 80
    route:
      filebrowser:
        hostnames: ["rimworld-files.vzkn.eu"]
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - name: *app
                port: 80
    persistence:
      data:
        enabled: true
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          rimworld:
            app:
              - path: /Data
            filebrowser:
              - path: /db
                subPath: filebrowser
              - path: /srv/Data
