---
# yaml-language-server: $schema=https://schemas.vzkn.eu/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cloudflare-tunnel
spec:
  dependsOn:
    - name: cloudflare-tunnel-secret
  interval: 1h
  path: ./kubernetes/apps/network/cloudflare-tunnel
  postBuild:
    substituteFrom:
      - kind: Secret
        name: cloudflare-tunnel
        optional: false
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: network
  wait: false
