---
# yaml-language-server: $schema=https://schemas.vzkn.eu/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: nextcloud-talk-secret
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: nextcloud-talk-secret
    template:
      data:
        server.conf: |
          [http]
          listen = 0.0.0.0:8080

          [app]
          debug = false

          [sessions]
          hashkey = {{ .SIGNALING_SECRET | substr 0 32 }}
          blockkey = {{ .SIGNALING_SECRET | substr 0 32 }}

          [clients]
          internalsecret = {{ .INTERNAL_SECRET }}

          [backend]
          backends = nextcloud
          allowall = false
          timeout = 10
          connectionsperhost = 8

          [nextcloud]
          url = http://nextcloud:8080
          secret = {{ .INTERNAL_SECRET }}

          [nats]
          url = nats://nextcloud-talk-nats:4222

          [turn]
          apikey = {{ .TURN_SECRET }}
          secret = {{ .TURN_SECRET }}
          servers = turn:turn.vzkn.eu:3478?transport=udp,turn:turn.vzkn.eu:3478?transport=tcp,turns:turn.vzkn.eu:5349?transport=tcp
  dataFrom:
    - extract:
        key: nextcloud-talk
    - extract:
        key: coturn
