---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud-talk-signaling
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      signaling:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/strukturag/nextcloud-spreed-signaling
              tag: 2.0.4@sha256:e3dfccd350a259b6fcf427fa84dcec905a9005925eb22140165abcc4f581a9d9
            env:
              SIGNALING_LISTEN: 0.0.0.0:8080
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: 8080
                  initialDelaySeconds: 10
                  periodSeconds: 10
              readiness:
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: 8080
                  initialDelaySeconds: 5
                  periodSeconds: 5

    service:
      app:
        controller: signaling
        ports:
          http:
            port: 8080

    persistence:
      config:
        type: secret
        name: nextcloud-talk-secret
        globalMounts:
          - path: /config/server.conf
            subPath: server.conf
            readOnly: true
