---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud-talk-signaling
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      signaling:
        replicas: 2
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: docker pull ghcr.io/strukturag/nextcloud-spreed-signaling
              tag: 2.0.4@sha256:e3dfccd350a259b6fcf427fa84dcec905a9005925eb22140165abcc4f581a9d9
            env:
              SIGNALING_LISTEN: 0.0.0.0:8080
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 8080
                  initialDelaySeconds: 10
                  periodSeconds: 10
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: 8080
                  initialDelaySeconds: 5
                  periodSeconds: 5

    service:
      app:
        controller: signaling
        ports:
          http:
            port: 8080

    configMaps:
      config:
        data:
          server.conf: |
            [http]
            listen = 0.0.0.0:8080

            [app]
            debug = false

            [sessions]
            hashkey = file:///secrets/SIGNALING_SECRET
            blockkey = file:///secrets/SIGNALING_SECRET

            [clients]
            internalsecret = file:///secrets/INTERNAL_SECRET

            [backend]
            backends = nextcloud
            allowall = false
            timeout = 10
            connectionsperhost = 8

            [nextcloud]
            url = https://cloud.vzkn.eu
            secret = file:///secrets/INTERNAL_SECRET

            [nats]
            url = nats://nextcloud-talk-nats:4222

            [turn]
            apikey = file:///secrets/TURN_SECRET
            secret = file:///secrets/TURN_SECRET
            servers = turn:${COTURN_PUBLIC_HOST}:3478?transport=udp,turn:${COTURN_PUBLIC_HOST}:3478?transport=tcp,turns:${COTURN_PUBLIC_HOST}:5349?transport=tcp

    persistence:
      config-file:
        type: configMap
        identifier: config
        globalMounts:
          - path: /config/server.conf
            subPath: server.conf
            readOnly: true
      secrets:
        type: secret
        name: nextcloud-talk-secret
        globalMounts:
          - path: /secrets
            readOnly: true
