---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gitea-runner
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      gitea-runner:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/gitea/act_runner
              tag: 0.2.13-dind-rootless
            env:
              DOCKER_HOST: tcp://localhost:2376
              DOCKER_CERT_PATH: /certs/client
              DOCKER_TLS_VERIFY: "1"
              GITEA_INSTANCE_URL: http://gitea-http.development.svc.cluster.local:3000
              GITEA_RUNNER_LABELS: "ubuntu-latest:docker://catthehacker/ubuntu:act-latest,ubuntu-22.04:docker://catthehacker/ubuntu:act-22.04"
              GITEA_RUNNER_NAME: gitea-runner-k8s
            envFrom:
              - secretRef:
                  name: gitea-runner-secret
            securityContext:
              privileged: true
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                memory: 4Gi
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups:
          - 65536
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          gitea-runner:
            app:
              - path: /data
      tmp:
        type: emptyDir
        advancedMounts:
          gitea-runner:
            app:
              - path: /tmp
      cache:
        type: emptyDir
        advancedMounts:
          gitea-runner:
            app:
              - path: /home/rootless/.cache
