---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: self-hosted
components:
  - ../../components/namespace
replacements:
  - path: ../../components/replacements/ks.yaml
resources:
  - ./atuin/ks.yaml
  - ./free-game-notifier/ks.yaml
  - ./it-tools/ks.yaml
  - ./karakeep/ks.yaml
  - ./miniflux/ks.yaml
  - ./mumble/ks.yaml
  # - ./reactive-resume/ks.yaml
  - ./searxng/ks.yaml
