---
# yaml-language-server: $schema=https://schemas.vzkn.eu/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: keda
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 2.18.3
  url: oci://ghcr.io/home-operations/charts-mirror/keda
---
# yaml-language-server: $schema=https://schemas.vzkn.eu/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: keda
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: keda
  values:
    enableServiceLinks: false
    resources:
      operator:
        requests:
          cpu: 15m
          memory: 448Mi
        limits:
          memory: 896Mi
      metricServer:
        requests:
          cpu: 20m
          memory: 128Mi
        limits:
          memory: 256Mi
      webhooks:
        requests:
          cpu: 10m
          memory: 96Mi
        limits:
          memory: 192Mi
    prometheus:
      metricServer:
        enabled: true
        serviceMonitor:
          enabled: true
      operator:
        enabled: true
        serviceMonitor:
          enabled: true
      webhooks:
        enabled: true
        serviceMonitor:
          enabled: true
