---
# yaml-language-server: $schema=https://schemas.vzkn.eu/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app keda
spec:
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      name: *app
      namespace: observability
  interval: 1h
  path: ./kubernetes/apps/observability/keda
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
