---
# yaml-language-server: $schema=https://schemas.vzkn.eu/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: dragonfly-operator
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: v1.4.0
  url: oci://ghcr.io/dragonflydb/dragonfly-operator/helm/dragonfly-operator
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dragonfly-operator
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: dragonfly-operator
  values:
    kube-rbac-proxy:
      resources:
        requests:
          cpu: 10m
          memory: 96Mi
        limits:
          memory: 192Mi
    manager:
      image:
        repository: ghcr.io/dragonflydb/operator
      resources:
        requests:
          cpu: 10m
          memory: 96Mi
        limits:
          memory: 192Mi
    grafanaDashboard:
      enabled: true
      folder: data
