---
# yaml-language-server: $schema=https://schemas.vzkn.eu/cert-manager.io/clusterissuer_v1.json
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: &name letsencrypt-production
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: *name
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: cloudflare-secret
              key: CLOUDFLARE_DNS_TOKEN
        selector:
          dnsZones: ["vzkn.eu"]
---
# yaml-language-server: $schema=https://schemas.vzkn.eu/cert-manager.io/clusterissuer_v1.json
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: cluster-selfsigned-issuer
spec:
  selfSigned: {}
---
# yaml-language-server: $schema=https://schemas.vzkn.eu/cert-manager.io/certificate_v1.json
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: &name cluster-signed-issuer
spec:
  isCA: true
  commonName: *name
  subject:
    organizations:
      - 'vzkn.eu'
  secretName: cluster-signed-issuer-secret
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    name: cluster-selfsigned-issuer
    kind: ClusterIssuer
    group: cert-manager.io
---
# yaml-language-server: $schema=https://schemas.vzkn.eu/cert-manager.io/clusterissuer_v1.json
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: cluster-signed-issuer
spec:
  ca:
    secretName: cluster-signed-issuer-secret
