# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
---
# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.12.4
# v1.10.7 - latest stable
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.35.1
# v1.32.2 - bootstrap works!!!
clusterName: &cluster main
endpoint: https://10.10.0.20:6443
clusterPodNets:
  - "10.69.0.0/16"
clusterSvcNets:
  - "10.96.0.0/16"
additionalApiServerCertSans: &sans
  - "10.10.0.20"
  - "127.0.0.1"
# additionalMachineCertSans: *sans

# Disable built-in Flannel to use Cilium
cniConfig:
  name: none

nodes:
  # ============================================
  # NEW CONTROL-PLANE NODE (SOYO M4 Mini)
  # ============================================
  - hostname: "saga"
    ipAddress: "10.10.0.15"
    controlPlane: true
    # SecureBoot installer (sd-boot) - use secureboot ISO for initial boot
    talosImageURL: &talosImageSecureBoot factory.talos.dev/installer-secureboot/56d936e2c7919954cf5e13b2b9c06859ac5475ded8b9878bc63dc0e4bebbf854
    installDiskSelector:
      model: "*"
    networkInterfaces:
      # SOYO M4 Mini: enp1s0 (e0:51:d8:1f:43:3d) + enp2s0 (e0:51:d8:1f:43:3e)
      - deviceSelector:
          hardwareAddr: e0:51:d8:1f:43:3d  # enp1s0
        addresses:
          - 10.10.0.15/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.10.0.1
        mtu: 1500

  - hostname: "eir"
    ipAddress: "10.10.0.16"
    controlPlane: true
    talosImageURL: *talosImageSecureBoot
    installDiskSelector:
      model: "*"
    networkInterfaces:
      # SOYO M4 Mini: enp1s0 (e0:51:d8:1f:ac:84) + enp2s0 (e0:51:d8:1f:ac:85)
      - deviceSelector:
          hardwareAddr: e0:51:d8:1f:ac:84  # enp1s0
        addresses:
          - 10.10.0.16/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.10.0.1
        mtu: 1500

  - hostname: "skuld"
    ipAddress: "10.10.0.17"
    controlPlane: true
    talosImageURL: *talosImageSecureBoot
    installDiskSelector:
      model: "*"
    networkInterfaces:
      # SOYO M4 Mini: enp1s0 (e0:51:d8:1f:b6:95) + enp2s0 (e0:51:d8:1f:b6:96)
      - deviceSelector:
          hardwareAddr: e0:51:d8:1f:b6:95  # enp1s0
        addresses:
          - 10.10.0.17/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.10.0.1
        mtu: 1500

  # ============================================
  # WORKER NODES (Lenovo M720q)
  # ============================================
  - hostname: "alfheim"
    ipAddress: "10.10.0.21"
    # installDisk: /dev/sda
    # Standard installer (no SecureBoot on M720q)
    talosImageURL: &talosImage factory.talos.dev/installer/59fbb820a54701d6aacf45e8f65adeba13a0ee2009cbca30e5b1ae6f4155e581
    controlPlane: false
    installDiskSelector:
      model: "Samsung*"
    extraManifests:
      - ./manifests/i40e.yaml
      - ./manifests/e1000e.yaml
    networkInterfaces:
      # 1G Internal Port / eno1
      # - deviceSelector:
      #     hardwareAddr: e8:6a:64:f4:59:e5
      #   ignore: true
      # 10G PCIe Port / enp1s0f0np0 + enp1s0f1np1
      - interface: bond0
        bond:
          interfaces:
            - enp1s0f0np0
            - enp1s0f1np1
          mode: 802.3ad
          xmitHashPolicy: layer3+4
          lacpRate: fast
          miimon: 100
          updelay: 200
          downdelay: 200
        dhcp: true
        mtu: 1500
  - hostname: "alne"
    ipAddress: "10.10.0.22"
    # installDisk: /dev/sda
    talosImageURL: *talosImage
    controlPlane: false
    installDiskSelector:
      model: "MTFD*"
    extraManifests:
      - ./manifests/i40e.yaml
      - ./manifests/e1000e.yaml
    networkInterfaces:
      # 1G Internal Port / eno1
      # - deviceSelector:
      #     hardwareAddr: e8:6a:64:47:fe:44
      #   ignore: true
      # 10G PCIe Port / enp1s0f0np0 + enp1s0f1np1
      - interface: bond0
        bond:
          interfaces:
            - enp1s0f0np0
            - enp1s0f1np1
          mode: 802.3ad
          xmitHashPolicy: layer3+4
          lacpRate: fast
          miimon: 100
          updelay: 200
          downdelay: 200
        dhcp: true
        mtu: 1500
  - hostname: "ainias"
    ipAddress: "10.10.0.23"
    # installDisk: /dev/sda
    talosImageURL: *talosImage
    controlPlane: false
    installDiskSelector:
      model: "Samsung*"
    extraManifests:
      - ./manifests/i40e.yaml
      - ./manifests/e1000e.yaml
    networkInterfaces:
      # 1G Internal Port / eno1
      # - deviceSelector:
      #     hardwareAddr: 8c:16:45:9d:0e:6f
      #   ignore: true
      # 10G PCIe Port / enp1s0f0np0 + enp1s0f1np1
      - interface: bond0
        bond:
          interfaces:
            - enp1s0f0np0
            - enp1s0f1np1
          mode: 802.3ad
          xmitHashPolicy: layer3+4
          lacpRate: fast
          miimon: 100
          updelay: 200
          downdelay: 200
        dhcp: true
        mtu: 1500
        # Worker Nodes
        # NOTE: granzam removed due to frequent crashes
        # - hostname: "granzam"
        #   ipAddress: "10.10.0.31"
        #   #installDisk: /dev/sda
        #   talosImageURL: *talosImage
        #   controlPlane: false
        #   nodeLabels:
        #     topology.kubernetes.io/zone: worker
        #     intel.feature.node.kubernetes.io/gpu: "true"
        #     feature.node.kubernetes.io/custom-e1000e: "true"
        #     # feature.node.kubernetes.io/custom-i40e: "false"
        #   installDiskSelector:
        #     model: "INTEL*"
        #   extraManifests:
        #     - ./manifests/e1000e.yaml
        #   networkInterfaces:
        #     # 1G Internal Port / eno1
        #     # - deviceSelector:
        #     #     hardwareAddr: e8:6a:64:47:fe:44
        #     #   ignore: true
        #     # 2.5G PICe Port / enp1s0
        #     - deviceSelector:
        #         hardwareAddr: 00:e0:4c:68:07:2c
        #       dhcp: true
        #       mtu: 1500
patches:
  - "@./patches/global/machine-files.yaml"  # Spegel/NFS Mount
  # - "@./patches/global/machine-install.yaml" # This is baked into the install image now, as of v1.10.0
  # https://github.com/siderolabs/talos/releases/tag/v1.10.0
  - "@./patches/global/machine-kubelet.yaml"  # VLAN Subnet Info
  - "@./patches/global/machine-network.yaml"  # Search Domain / DNS
  - "@./patches/global/machine-openebs.yaml"  # Kubelet Mount
  - "@./patches/global/machine-sysctls.yaml"  # Network Tweaks
  # - "@./patches/global/machine-sysfs.yaml"   # CPU Power
  - "@./patches/global/machine-time.yaml"  # NTP
  - "@./patches/global/machine-watchdog.yaml"  # Hardware Watchdog

# Controller patches
controlPlane:
  nodeLabels:
    topology.kubernetes.io/region: main
    topology.kubernetes.io/zone: controlPlane
  patches:
    - "@./patches/controller/admission-controller-patch.yaml"
    - "@./patches/controller/cluster.yaml"
    - "@./patches/controller/machine-features.yaml"

worker:
  nodeLabels:
    topology.kubernetes.io/zone: worker
