---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
components:
  - ../../components/namespace
replacements:
  - path: ../../components/replacements/ks.yaml
resources:
  - ./gatus/ks.yaml
  - ./fluent-bit/ks.yaml
  # - ./grafana/ks.yaml
  - ./karma/ks.yaml
  - ./keda/ks.yaml
  - ./kromgo/ks.yaml
  - ./kube-prometheus-stack/ks.yaml
  - ./silence-operator/ks.yaml
  - ./victoria-logs/ks.yaml
  # Exporters
  - ./exporters
configMapGenerator:
  - name: gatus-configmap
    files:
      - ./gatus/config.yaml
generatorOptions:
  disableNameSuffixHash: true
