# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rxresume
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      rxresume:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/amruthpillai/reactive-resume
              tag: v4.5.5@sha256:f1b27f567b2a1b57fb6b2a81f7b9cec0af577b6be945820c1599a0a8b6b91f8b
            env:
              TZ: "Europe/Warsaw"
              PORT: &port 3001
              NODE_ENV: "production"
              PUBLIC_URL: https://rxresume.vzkn.eu
              CHROME_URL: ws://rxresume-chrome.self-hosted.svc.cluster.local.:3000
              # S3
              STORAGE_URL: https://api.s3.vzkn.eu/rxresume
              STORAGE_ENDPOINT: aincrad.home.vzkn.eu
              STORAGE_PORT: "9010"
              STORAGE_REGION: eu-central-1
              STORAGE_BUCKET: rxresume
              STORAGE_USE_SSL: "false"
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: postgres-rxresume-app
                    key: uri
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                cpu: 3000m
                memory: 600Mi
      chrome:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/browserless/chromium
              tag: v2.38.2@sha256:d5583d92f135c541667fca63bc7210cf51122c1317335374aa64b191fbaa0ef2

            env:
              TZ: "Europe/Warsaw"
              DEBUG: "browserless*,-*:trace,-*:verbose"
              ENABLE_DEBUGGER: "false"
              TIMEOUT: "60000"
              CONCURRENT: "10"
              EXIT_ON_HEALTH_FAILURE: "true"
              HEALTH: "true"
            envFrom:
              - secretRef:
                  name: browserless-chrome-secret
            securityContext:
              runAsUser: 999
              runAsGroup: 999
              allowPrivilegeEscalation: false
              capabilities: { drop: [ALL] }
    service:
      chrome:
        controller: chrome
        ports:
          http:
            port: 3000
      app:
        controller: rxresume
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            group: self-hosted
        hostnames:
          - "{{ .Release.Name }}.vzkn.eu"
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      tmpfs:
        type: emptyDir
        advancedMounts:
          rxresume:
            app:
              - path: /tmp
                subPath: tmp
