---
# yaml-language-server: $schema=https://schemas.vzkn.eu/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app cert-manager
spec:
  healthChecks:
    - apiVersion: helm.toolkit.fluxcd.io/v2
      kind: HelmRelease
      name: *app
      namespace: cert-manager
    - apiVersion: &apiVersion cert-manager.io/v1
      kind: &kind ClusterIssuer
      name: letsencrypt-production
    - apiVersion: *apiVersion
      kind: *kind
      name: cluster-selfsigned-issuer
    - apiVersion: *apiVersion
      kind: *kind
      name: cluster-signed-issuer
  healthCheckExprs:
    - apiVersion: *apiVersion
      kind: *kind
      failed: status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'False')
      current: status.conditions.filter(e, e.type == 'Ready').all(e, e.status == 'True')
  interval: 1h
  path: ./kubernetes/apps/cert-manager/cert-manager/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: cert-manager
