# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./httproute.yaml
patches:
  - patch: |
      apiVersion: dragonflydb.io/v1alpha1
      kind: Dragonfly
      metadata:
        name: sentry-dragonfly
      spec:
        args:
          - --maxmemory=$(MAX_MEMORY)Mi
          - --proactor_threads=2
          - --cluster_mode=emulated
          - --default_lua_flags=allow-undeclared-keys
        resources:
          requests:
            memory: 512Mi
          limits:
            memory: 8Gi
    target:
      kind: Dragonfly
      name: sentry-dragonfly
