---
# yaml-language-server: $schema=https://schemas.vzkn.eu/observability.giantswarm.io/silence_v1alpha2.json
apiVersion: observability.giantswarm.io/v1alpha2
kind: Silence
metadata:
  name: ceph-node-nfsmount-diskspace-warning
spec:
  matchers:
    - name: alertname
      value: CephNodeDiskspaceWarning
    - name: mountpoint
      value: (/etc/nfsmount.conf|/var)
---
# yaml-language-server: $schema=https://schemas.vzkn.eu/observability.giantswarm.io/silence_v1alpha2.json
apiVersion: observability.giantswarm.io/v1alpha2
kind: Silence
metadata:
  name: ceph-node-local-diskspace-warning
spec:
  matchers:
    - name: alertname
      value: CephNodeDiskspaceWarning
    - name: device
      value: /dev/sd.*
      matchType: "=~"
---
# yaml-language-server: $schema=https://schemas.vzkn.eu/observability.giantswarm.io/silence_v1alpha2.json
apiVersion: observability.giantswarm.io/v1alpha2
kind: Silence
metadata:
  name: nas-array-diskspace-warning
spec:
  matchers:
    - name: device
      value: /dev/md.*
      matchType: "=~"
    - name: instance
      value: aincrad.home.vzkn.eu:9100
---
# yaml-language-server: $schema=https://schemas.vzkn.eu/observability.giantswarm.io/silence_v1alpha2.json
apiVersion: observability.giantswarm.io/v1alpha2
kind: Silence
metadata:
  name: nas-memory-high-utilization
spec:
  matchers:
    - name: alertname
      value: NodeMemoryHighUtilization
    - name: instance
      value: aincrad.home.vzkn.eu:9100
---
# yaml-language-server: $schema=https://schemas.vzkn.eu/observability.giantswarm.io/silence_v1alpha2.json
apiVersion: observability.giantswarm.io/v1alpha2
kind: Silence
metadata:
  name: keda-hpa-maxed-out
spec:
  matchers:
    - name: alertname
      value: KubeHpaMaxedOut
    - name: horizontalpodautoscaler
      value: keda-hpa-.*
      matchType: "=~"
---
# yaml-language-server: $schema=https://schemas.vzkn.eu/observability.giantswarm.io/silence_v1alpha2.json
apiVersion: observability.giantswarm.io/v1alpha2
kind: Silence
metadata:
  name: bws-cert-expiration
spec:
  matchers:
    - name: alertname
      value: CertManagerCertExpirySoon
    - name: name
      value: bitwarden-tls-certs
