---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app esphome
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      esphome:
        annotations:
          secret.reloader.stakater.com/reload: esphome-secrets,esphome-deploykey
        containers:
          app:
            image:
              repository: esphome/esphome
              tag: 2025.5.2@sha256:cea8ffe21995045d0a60c96f4e39bfa04e4348c2ff17444d7d3b0e94af3a9d9b
            env:
              TZ: Europe/Warsaw
              ESPHOME_DASHBOARD_USE_PING: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                memory: 4Gi
          codeserver:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.100.3@sha256:c5b7ec231b24f26ecee243e8d9f9df57af906d03c9c8238efd893217c9f1f725
            env:
              TZ: Europe/Warsaw
            args: [
              "--auth", "none",
              "--disable-telemetry",
              "--disable-update-check",
              "--user-data-dir", "/config/.vscode",
              "--extensions-dir", "/config/.vscode",
              "--port", "12321",
              "/config"
            ]
            resources:
              requests:
                cpu: 25m
                memory: 256Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 6052
          codeserver:
            port: &codeserverPort 12321
    route:
      app:
        hostnames: ["{{ .Release.Name }}.vzkn.eu"]
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /code/
            filters:
              - type: URLRewrite
                urlRewrite:
                  path:
                    type: ReplacePrefixMatch
                    replacePrefixMatch: /
            backendRefs:
              - name: *app
                port: *codeserverPort
          - backendRefs:
              - name: *app
                port: *port
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          esphome:
            app:
              - path: /config
            code-server:
              - path: /config
      secrets:
        type: secret
        name: esphome-secrets
        globalMounts:
          - path: /config/secrets.yaml
            subPath: secrets.yaml
      deploy-key:
        type: secret
        name: esphome-deploykey
        defaultMode: 256
        advancedMounts:
          esphome:
            code-server:
              - path: /home/coder/.ssh/id_ed25519
                subPath: id_ed25519
      tmpfs:
        type: emptyDir
        advancedMounts:
          esphome:
            app:
              - path: /cache
                subPath: cache
