---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name "${APP}-cnpg-secret"
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: *name
    template:
      metadata:
        labels:
          cnpg.io/reload: "true"
      data:
        username: '{{ .POSTGRES_SUPER_USER }}'
        password: '{{ .POSTGRES_SUPER_PASS }}'
        AWS_ACCESS_KEY_ID: "{{ .AWS_ACCESS_KEY_ID }}"
        AWS_SECRET_ACCESS_KEY: "{{ .AWS_SECRET_ACCESS_KEY }}"
  dataFrom:
    - extract:
        key: cloudnative-pg
    - extract:
        key: postgresql-bucket
