---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: education
components:
  - ../../components/common
resources:
  - ./namespace.yaml
  - ./oop2-showcase/ks.yaml
