---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: soularr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      soularr:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/mrusse/soularr
              tag: main@sha256:84fead20dc2bcc00d6f0d2df53e56866b4fe634640e075820b420ae4ea146fd2
            env:
              TZ: Europe/Warsaw
              SCRIPT_INTERVAL: 300 # Script interval in seconds
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            group: downloads
        enabled: false
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /data
      config-secret:
        type: secret
        name: "{{ .Release.Name }}-secret"
        globalMounts:
          - path: /data/config.ini
            subPath: config.ini
            readOnly: true
      data:
        type: nfs
        server: aincrad.home.vzkn.eu
        path: /mnt/user/data/soulseek
        globalMounts:
          - path: /soulseek
      music:
        type: nfs
        server: aincrad.home.vzkn.eu
        path: /mnt/cache/z_media
        globalMounts:
          - path: /music
            subPath: music
      tmp:
        type: emptyDir
