---
# yaml-language-server: $schema=https://schemas.vzkn.eu/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name flux-webui-oidc
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: *name
    template:
      data:
        clientID: "{{ .FLUX_CLIENT_ID }}"
        clientSecret: "{{ .FLUX_CLIENT_SECRET }}"
  dataFrom:
    - extract:
        key: flux
