---
# yaml-language-server: $schema=https://schemas.vzkn.eu/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: flux-operator
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 0.42.1
  url: oci://ghcr.io/controlplaneio-fluxcd/charts/flux-operator
---
# yaml-language-server: $schema=https://schemas.vzkn.eu/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-operator
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: flux-operator
  values:
    # Schedule on control-plane nodes
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""
    tolerations:
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
        effect: NoSchedule
    serviceMonitor:
      create: true
    web:
      baseURL: https://flux.vzkn.eu
      auth:
        type: oidc
        oidc:
          clientIDFrom:
            secretKeyRef:
              name: flux-webui-oidc
              key: clientID
          clientSecretFrom:
            secretKeyRef:
              name: flux-webui-oidc
              key: clientSecret
          issuerURL: https://sso.vzkn.eu/application/o/flux/
          scopes:
            - openid
            - profile
            - email
            - groups
