---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: navidrome
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      navidrome:
        replicas: 1
        strategy: Recreate
        containers:
          app:
            image:
              repository: ghcr.io/navidrome/navidrome
              tag: 0.59.0@sha256:4edc8a1de3e042f30b78a478325839f4395177eb8201c27543dccc0eba674f23
            env:
              # Baisc
              TZ: Europe/Warsaw
              ND_MUSICFOLDER: /music
              ND_DATAFOLDER: /config
              ND_CACHEFOLDER: /config/cache
              ND_LOGLEVEL: info
              ND_BASEURL: https://music.vzkn.eu
              ND_PORT: &port 8080
              ND_ENABLEINSIGHTSCOLLECTOR: false
              # Advanced
              # ND_AUTHREQUESTLIMIT: 0 - Default: 5
              ND_COVERJPEGQUALITY: 100  # Default: 75
              ND_DEFAULTTHEME: Spotify-ish
              ND_ENABLEDOWNLOADS: true
              ND_ENABLEEXTERNALSERVICES: true
              ND_ENABLEGRAVATAR: false
              ND_ENABLESHARING: true
              ND_ENABLESTARRATING: true  # Default: false
              ND_IMAGECACHESIZE: 1GB
              ND_LASTFM_ENABLED: false
              ND_LISTENBRAINZ_BASEURL: http://maloja.media.svc.cluster.local/apis/listenbrainz/1/
              ND_LISTENBRAINZ_ENABLED: true
              ND_PROMETHEUS_ENABLED: true
              ND_PROMETHEUS_METRICSPATH: &metrics /metrics
              ND_REVERSEPROXYUSERHEADER: "X-authentik-username"
              ND_REVERSEPROXYWHITELIST: 10.0.0.0/8
              ND_SCANNER_SCHEDULE: "@every 1h"
              ND_SEARCHFULLSTRING: true
              ND_TRANSCODINGCACHESIZE: 1GB
              ND_SUBSONIC_ARTISTPARTICIPATIONS: true
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: false
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 20m
                memory: 96Mi
              limits:
                memory: 192Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    serviceMonitor:
      app:
        endpoints:
          - port: http
            scheme: http
            path: *metrics
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            group: media
        hostnames:
          - music.vzkn.eu
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /config
      music:
        type: nfs
        server: aincrad.home.vzkn.eu
        path: /mnt/cache/z_media
        globalMounts:
          - path: /music
            subPath: music
      tmpfs:
        type: emptyDir
        advancedMounts:
          navidrome:
            app:
              - path: /tmp
                subPath: tmp
