---
apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage-config
  labels:
    app.kubernetes.io/name: homepage
data:
  bookmarks.yaml: |
    - Communicate:
        - Discord:
            - icon: discord.png
              href: 'https://discord.com/app'
        - Protonmail:
            - icon: proton-mail.png
              href: 'https://mail.proton.me/'
    - Media:
        - YouTube:
            - icon: youtube.png
              href: 'https://youtube.com/feed/subscriptions'
        - Spotify:
            - icon: spotify.png
              href: 'http://open.spotify.com'
        - Youtube Music:
            - icon: https://raw.githubusercontent.com/vrozaksen/home-ops/main/docs/src/assets/icons/youtube-music.png
              href: 'https://music.youtube.com'
    - Reading:
        - Reddit:
            - icon: reddit.png
              href: 'https://reddit.com'
    - Git:
        - kubesearch:
            - icon: kubernetes-dashboard.png
              href: 'https://kubesearch.dev/'
        - home-ops:
            - icon: github.png
              href: 'https://github.com/vrozaksen/home-ops'
  docker.yaml: ""
  kubernetes.yaml: |
    mode: cluster
  services.yaml: |
    - Network:
        - Cloudflared:
            href: https://dash.cloudflare.com/
            icon: cloudflare-zero-trust.png
            description: Cloudflared Tunnel Status
            widget:
              type: cloudflared
              accountid: {{HOMEPAGE_VAR_CLOUDFLARED_ACCOUNTID}}
              tunnelid: {{HOMEPAGE_VAR_CLOUDFLARED_TUNNELID}}
              key: {{HOMEPAGE_VAR_CLOUDFLARED_API_TOKEN}}
              fields: ["status"]
        - Healthchecks:
            href: https://healthchecks.io/
            icon: healthchecks.png
            description: Healthchecks Internet Uptime
            widget:
              type: healthchecks
              url: https://healthchecks.io/
              key: {{HOMEPAGE_VAR_HEALTHCHECK_TOKEN}}
              uuid: {{HOMEPAGE_VAR_HEALTHCHECK_UUID}}
        - OPNSense:
            href: https://opnsense.home.vzkn.eu:8443
            icon: opnsense.png
            description: OPNsense Firewall
            widget:
              type: opnsense
              url: https://opnsense.home.vzkn.eu:8443
              username: {{HOMEPAGE_VAR_OPNSENSE_USERNAME}}
              password: {{HOMEPAGE_VAR_OPNSENSE_PASSWORD}}
    - Games:
        - Survival:
            icon: minecraft.png
            description: Survival Server
            widget:
              type: minecraft
              url: udp://minecraft-survival-minecraft.games:25565
        - Create:
            icon: minecraft.png
            description: Create Server
            widget:
              type: minecraft
              url: udp://minecraft-create-minecraft.games:25565
    - Calendar:
        - Agenda:
            widget:
              type: calendar
              view: agenda # optional - possible values monthly, agenda
              maxEvents: 20 # optional - defaults to 10
              integrations: # optional
                - type: sonarr # active widget type that is currently enabled on homepage - possible values: radarr, sonarr>
                  service_group: Downloads # group name where widget exists
                  service_name: Sonarr # service name for that widget
                - type: radarr # active widget type that is currently enabled on homepage - possible values: radarr, sonarr>
                  service_group: Downloads # group name where widget exists
                  service_name: Radarr # service name for that widget
                # - type: readarr # active widget type that is currently enabled on homepage - possible values: radarr, sonar>
                #   service_group: Downloads # group name where widget exists
                #   service_name: Readarr # service name for that widget
    - Infrastructure:
        - Unraid:
            href: https://aincrad.home.vzkn.eu:4443
            icon: unraid.png
            description: Unraid NAS
            ping: https://aincrad.home.vzkn.eu
            siteMonitor: https://aincrad.home.vzkn.eu:4443
    - Home:
        - Home-Assistant:
            href: https://hass.vzkn.eu
            icon: home-assistant.png
            description: Home Automation Software
            widget:
              type: homeassistant
              url: https://hass.vzkn.eu
              key: {{HOMEPAGE_VAR_HASS_TOKEN}}
  settings.yaml: |
    title: Dashboard
    favicon: https://github.com/homarr-labs/dashboard-icons/blob/main/png/heimdall.png
    useEqualHeights: true
    theme: dark
    background:
      image: https://raw.githubusercontent.com/joryirving/home-ops/main/docs/src/assets/101518784_p0.jpg
      opacity: 20
    color: slate
    headerStyle: clean
    quicklaunch:
      searchDescriptions: true
      hideInternetSearch: true
      showSearchSuggestions: true
      hideVisitURL: true
    layout:
      Network:
        style: row
        columns: 3
        icon: mdi-network
      Games:
        style: row
        columns: 3
        icon: mdi-minecraft
      Calendar:
        style: column
        icon: mdi-calendar
      Video:
        style: column
        icon: mdi-play-circle
      Books:
        style: row
        columns: 2
        icon: mdi-book
      Infrastructure:
        style: row
        columns: 5
        icon: mdi-server
      Observability:
        style: row
        columns: 5
        icon: mdi-chart-line
      Home:
        style: row
        columns: 5
        icon: mdi-home-analytics
      Downloads:
        style: row
        columns: 3
        icon: mdi-download-circle
  widgets.yaml: |-
    # - logo:
    #     icon: https://raw.githubusercontent.com/joryirving/home-ops/main/docs/src/assets/icons/lds-transparent.png
    - search:
        provider: [brave]
        focus: false
        target: _blank
    - greeting:
        text_size: xl
        text: "Howdy Hey!"
    - kubernetes:
        cluster:
          cpu: true
          memory: true
          show: true
          showLabel: true
        nodes:
          cpu: true
          memory: true
          show: false
          showLabel: true
    - openmeteo:
        label: Home
        latitude: {{HOMEPAGE_VAR_LATITUDE}}
        longitude: {{HOMEPAGE_VAR_LONGITUDE}}
        units: metric
        cache: 5
    - datetime:
        text_size: l
        locale: pl
        format:
          timeStyle: short
          dateStyle: short
          hourCycle: h23
