---
# yaml-language-server: $schema=https://schemas.vzkn.eu/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: external-secrets
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 2.0.1
  url: oci://ghcr.io/external-secrets/charts/external-secrets
---
# yaml-language-server: $schema=https://schemas.vzkn.eu/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
spec:
  chartRef:
    kind: OCIRepository
    name: external-secrets
  interval: 1h
  values:
    leaderElect: true
    serviceMonitor:
      enabled: true
    grafanaDashboard:
      enabled: true
    resources:
      requests:
        cpu: 10m
        memory: 160Mi
      limits:
        memory: 320Mi
    # Schedule on control-plane nodes
    nodeSelector:
      node-role.kubernetes.io/control-plane: ""
    tolerations:
      - key: node-role.kubernetes.io/control-plane
        operator: Exists
        effect: NoSchedule
    certController:
      serviceMonitor:
        enabled: true
      resources:
        requests:
          cpu: 10m
          memory: 96Mi
        limits:
          memory: 192Mi
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
    webhook:
      serviceMonitor:
        enabled: true
      resources:
        requests:
          cpu: 10m
          memory: 160Mi
        limits:
          memory: 320Mi
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
    reportsController:
      serviceMonitor:
        enabled: true
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
    bitwarden-sdk-server:
      enabled: true
      podAnnotations:
        secret.reloader.stakater.com/reload: "bitwarden,bitwarden-tls-certs"
      resources:
        requests:
          cpu: 15m
          memory: 96Mi
        limits:
          memory: 192Mi
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
      tolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
