---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud-collabora
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      collabora:
        containers:
          app:
            image:
              repository: collabora/code
              tag: 25.04.8.1.1@sha256:3c58d0e9bae75e4647467d0c7d91cb66f261d3e814709aed590b5c334a04db26
            env:
              extra_params: --o:ssl.termination=true --o:ssl.enable=false
              aliasgroup1: https://cloud.vzkn.eu:443
              domain: cloud\\.vzkn\\.eu
    rawResources:
      autoscaling:
        enabled: true
        apiVersion: autoscaling/v2
        kind: HorizontalPodAutoscaler
        spec:
          spec:
            scaleTargetRef:
              apiVersion: apps/v1
              kind: Deployment
              name: nextcloud-collabora
            minReplicas: 1
            maxReplicas: 3
            metrics:
            - type: Resource
              resource:
                name: cpu
                target:
                  type: Utilization
                  averageUtilization: 50
    service:
      app:
        ports:
          http:
            port: 9980
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            group: self-hosted
        hostnames:
          - collabora.vzkn.eu
        parentRefs:
          - name: envoy-internal
            namespace: network
