---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud-collabora
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      collabora:
        containers:
          app:
            image:
              repository: collabora/code
              tag: 25.04.7.3.1@sha256:9a6eb1042fa38f80127ae4b0e9c6f0ac549b267ecc8433bc7bb906eeee0ae176
            env:
              extra_params: --o:ssl.termination=true --o:ssl.enable=false
    rawResources:
      autoscaling:
        enabled: true
        apiVersion: autoscaling/v2
        kind: HorizontalPodAutoscaler
        spec:
          spec:
            scaleTargetRef:
              apiVersion: apps/v1
              kind: Deployment
              name: nextcloud-collabora
            minReplicas: 1
            maxReplicas: 3
            metrics:
            - type: Resource
              resource:
                name: cpu
                target:
                  type: Utilization
                  averageUtilization: 50
    service:
      app:
        ports:
          http:
            port: 9980
    route:
      app:
        annotations:
          # nginx.ingress.kubernetes.io/upstream-hash-by: "$arg_WOPISrc"
          gatus.home-operations.com/endpoint: |-
            group: self-hosted
        hostnames:
          - collabora.vzkn.eu
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - filters:
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  set:
                    - name: X-WOPISrc-Hash
                      value: "$(query_params.WOPISrc)"
